@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Press+Start+2P&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe3b3;
    font-family: 'Dancing Script';
}

section {
    margin-top: 5%;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient(#e8dab4, #e9d7a6, #e5d29d);
    margin-bottom: 5%;
}

p {
    padding-right: 10px;
    margin-left: 10px;
    font-size: 30px;
}

button {
 float: right;
 border-radius: 10px;
 outline: 0;
 padding: 10px;
 background-color: #caae7e;
 color: #595151;
 border: 1px solid #595151;
 margin-right: 35px;
 margin-bottom: 15px;
}